<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/img/det_just_var_fredag.jpg') }})">
            <span class="site-title">Reportsida för kurs MVC</span>
            <nav>
                <ul>
                    <li><a href="{{ path('me') }}">Det är jag</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="{{ path('report') }}">Report</a></li>
                    <li><a href="{{ path('lucky') }}">Lucky: galen sida</a></li>
                    <li><a href="{{ path('api') }}">Alla routers</a></li>
                    <li><a href="{{ path('api.quote') }}">Dagens citat</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <p class="author">&copy; Olga Egorova, uppdaterad <time datetime="2022-06-29">2024-03-28</time>.</p>
        </footer> 
    </body>
</html>
