{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <main class="main">
        
            <header class="headerMe">
                <h2 class="h1">Det är jag</h2>
                
            </header>
            <figure class="figure right">
                <img src="{{ asset('img/img/meOlga.jpg') }}" width="300" class "imgMe" alt="Bild på mig">
                <figcaption>Istället av Me</figcaption>
            </figure>
            <div class="om">
                <p>Jag var född vid en största världs flöde och växte i en av de största världsstäder.</p>
                <p>Jag tycker om färg och jag tycker om färgfulla grejer.</p>
                <p>Mest av all tycker jag om att resa och se nya platser.</p>
                <p>Jag har varit i större delen av Europa, jag har varit i Nordamerika och jag har rest i Asien.</p>
                <p>Men jag gillar också att försöka återskapa det jag ser. Jag gillar att måla. De bilder jag skapar är min dagbok.<p>
            </div>
    
    </main>
    <aside class="aside">
        <h2 class="aside-right">This is aside</h2>
        <ul>
            <li><a href="{{ path('api') }}">Alla routes</a></li>
            <li><a href="{{ path('api.quote') }}">Dagens citat</a></li>
            <li><a href="{{ path('api_desk') }}">Json kortspel</a></li>
            <li> <form method="post" action=""><form action="{{ path('api_desk_shuffle') }}" method="post">
                <input type="submit" value="Shuffle Deck"></input>
            </form>
            <li> <form action='' method="post">
                <input type="submit" value="Dra ett kort" 
                        onClick="this.form.action="{{ path('api_desk_draw') }}" style="width: 200px"></input>
                </form>
            </li>
            <li>
                <form action="{{ path('api_desk_draw_flera', {'num_card': 1}) }}" id="drawManyForm" 
                        method="post" onsubmit="updateCards()">
                    <lable class="smal" for="num_card">Kort</lable>
                    <input type="number" name="num_card" id="num_card_input" value="" min="1" max="51">
                    <input type="submit" value="Dra flera kort">
                </form>

                <script>
                    function updateCards() {
                        var numCard = document.getElementById('num_card_input').value;
                        var formAction = "{{ path('api_desk_draw_flera', {'num_card': 'placeholder'}) }}";
                        formAction = formAction.replace('placeholder', numCard);
                        document.getElementById('drawManyForm').action = formAction;
                        return true;
                    }
                </script>

            </li>
            <li>
                <form action="" id="dealForm" 
                        method="post" onsubmit="updatePlay()">
                    <lable class="smal" for="num_players">Spelare</lable>
                    <input type="number" name="num_players" id="players_input" value="" min="1" max="5">
                    <lable class="smal" for="num_card">Kort</lable>
                    <input type="number" name="num_card" id="cards_input" value="" min="1" max="10">
                    <input type="submit" value="Dela kort">
                </form>

                <script>
                    function updatePlay() {                  
                        var numCards = document.getElementById('cards_input').value;
                        var numPlayers = document.getElementById('players_input').value;
                        
                        var formAction = "{{ path('api_desk_deal', {'play': 'placeholder1', 'cards': 'placeholder2'}) }}";
                        formAction = formAction.replace('placeholder1', numPlayers);
                        formAction = formAction.replace('placeholder2', numCards);
                        document.getElementById('dealForm').action = formAction;
                        document.getElementById('dealForm').submit();
                    }
                </script>
            </li>
        </ul>
    </aside>
      
    
{% endblock %}
