{% extends "base21_card.html.twig" %}
{% block title %}Kortspel 21{% endblock %}

{% block main %}
    <header class="headerMe">
        <h2>Du spelar 21</h2>
    </header>

    {% if Status == "fat player" %}
        {{ include('endround_cards.html.twig') }}
        <p>Du blev 'fet' med {{PlayerPoints}} poäng</p>
        <p>Du förlorar din insats {{playerBet}} peng till banken</p>
    {% elseif Status == "player wins" %}
        {{ include('endround_cards.html.twig') }}
        <p>Du fick {{PlayerPoints}} poäng</p>
        <p>Du vinner din insats {{playerBet}} peng från banken</p>   
    {% elseif Status == "fat bank" %}
        {{ include('endround_cards.html.twig') }}
        <p>Bank blev 'fet' med {{BankPoints}} poäng</p>
        <p>Du vinner din insats {{playerBet}} peng från banken</p>
    {% elseif Status == "bank wins" %}
        {{ include('endround_cards.html.twig') }}
        <p>Bank fick {{BankPoints}} poäng</p>
        <p>Du förlorar din insats {{playerBet}} peng till banken</p>
    {% elseif Status == "compare" and BankPoints >= PlayerPoints %}
        {{ include('endround_cards.html.twig') }}
        <p>Du fick {{PlayerPoints}} poäng och du förlorar till banken som fick {{BankPoints}}</p>
        <p>Du förlorar din insats {{playerBet}} peng till banken</p>
    {% elseif Status == "compare" and BankPoints < PlayerPoints%}
        {{ include('endround_cards.html.twig') }}
        <p>Du fick {{PlayerPoints}} poäng och du vinner från banken som fick {{BankPoints}}</p>
        <p>Du vinner {{playerBet}} peng </p>
    {% endif %}
        <div class="functions">
            <h4>Du kan: </h4>
            <p><a class="linkForm" href="{{ path('followplay21') }}">Fortsätta spela</a></p>
            <p><a class="linkForm" href="{{ path('me') }}">Avsluta spel</a></p>
        </div>

{% endblock %}