{% extends "base21_card.html.twig" %}

{% block title %}Kortspel 21{% endblock %}

{% block main %}
    <header class="headerMe">
        <h2>Du spelar 21</h2>
    </header>

    <ul class="desk">
        {% for card in desk %}
            <form class="cardGame21" action="">
                <input class="card" value="{{ card[0] }}" style="color:{{ card[1] }}"></input>
            </form>
        {% endfor %}
    </ul>
    <div class="functions">
        <p>Bankrulle: {{bankBet}} peng</p>
        <p>Din kort är: </p>
        {% for card in playerCards %}
            <p style="color:{{ card[1] }}">{{ card[0] }}</p>
        {% endfor %}

        <p>Vill du satsa på spellet?</p>
        <form class="playerbet" method="post" action="{{ path('player_bet21') }}">
            <input type="number" min="1" max="{{bankBet}}" name="playersBet" value="">
            <input type="submit" name="do_it" value="Satsa">
        </form>
    </div>


{% endblock %}