{# shows aside for myreport files #}
<h2 class="aside-right">This is aside</h2>
<ul>
    <li><a href="{{ path('api') }}">Alla routes</a></li>
    <li><a href="{{ path('api.quote') }}">Dagens citat</a></li>
    <li><a href="{{ path('api_desk') }}">Json kortspel</a></li>
    <li> 
        <form class="linkForm" method="post" action=""><form action="{{ path('api_desk_shuffle') }}" method="post">
            <input type="submit" value="Shuffle Deck"></input>
        </form>
    <li> 
        <form class="linkForm" action='' method="post">
            <input type="submit" value="Dra ett kort" 
                    onClick="this.form.action="{{ path('api_desk_draw') }}" style="width: 200px"></input>
        </form>
    </li>
    <li style="font-size: 20px; margin-top: 15px">Dra flera kort:</li>
    <li>
        <form class="linkForm" action="{{ path('api_desk_draw_flera', {'num_card': 1}) }}" id="drawManyForm" 
                method="post" onsubmit="updateCards()">
        
            <input type="number" name="num_card" id="num_card_input" value="" min="1" max="51" 
            placeholder="välj antal" style="width: 100px">
            <input type="submit" value="Dra">
        </form>

        <script>
            function updateCards() {
                var numCard = document.getElementById('num_card_input').value;
                var formAction = "{{ path('api_desk_draw_flera', {'num_card': 'placeholder'}) }}";
                formAction = formAction.replace('placeholder', numCard);
                document.getElementById('drawManyForm').action = formAction;
                return true;
            }
        </script>

    </li>
    <li style="font-size: 20px; margin-top: 15px">Dela ut för flera spelare:</li>
    <li>
        <form action="" id="dealForm" 
                method="post" onsubmit="updatePlay()">
            
            <input type="number" name="num_players" id="players_input" value="" min="1" max="5" 
            placeholder="antal kort" style="width: 80px">
  
            <input type="number" name="num_card" id="cards_input" value="" min="1" max="10" 
            placeholder="antal spelare" style="width: 80px">
            <input type="submit" value="Dela">
        </form>

        <script>
            function updatePlay() {                  
                var numCards = document.getElementById('cards_input').value;
                var numPlayers = document.getElementById('players_input').value;
                
                var formAction = "{{ path('api_desk_deal', {'play': 'placeholder1', 'cards': 'placeholder2'}) }}";
                formAction = formAction.replace('placeholder1', numPlayers);
                formAction = formAction.replace('placeholder2', numCards);
                document.getElementById('dealForm').action = formAction;
                document.getElementById('dealForm').submit();
            }
        </script>
    </li>
</ul>