{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<main class="main library">
<header class="headerMe">
    <h2>Bibliotekdatabas startsidan</h2>
</header>
    {{ include('flash.html.twig') }}
    <h3 style="font-size: 2em"> Du kan: </h3 style="font-size: 2em">
    <ul>
        <li><a href="{{ path('create_book') }}">Bifoga en bok till biblioteket</a></li>
        <li><a href="{{ path('see_library') }}">Visa alla böcker</a></li>
        <li><form class="linkForm" action="{{ path('read_chosen') }}" method="post"> 
            <label for="bookid">Visa en book med id:</label>                  
            <input class="number" type="number" name="bookid" value="" min="1" 
                        placeholder="id" style="width: 100px">
            <input type="submit" value="Visa book">
        </form></li>

        <li><form class="linkForm" action="{{ path('update_book') }}" method="post"> 
            <label for="bookid">Updatera en book med id:</label>                  
            <input class="number" type="number" name="bookid" value="" min="1" 
                        placeholder="id" style="width: 100px">
            <input type="submit" value="Visa book">
        </form></li>
            
        <li><a href="{{ path('delete_book') }}">Ta bort en book</a></li>
    </ul>
</div>
</main>
{% endblock %}
