{% extends 'base.html.twig' %}


{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<main class="library all">
<header>
    <h2 style="font-size: 2.5em;">Alla böcker i biblioteket</h2>
</header>
    {% for book in books %}
    <div class="book">
        <fig class="book">
            {% if book.cover is not empty %}
                <img src="{{ book.cover }}" style="width:100px"alt="book book.cover">
            {% else %}
                <p>Ingen bild tillagd för book med id {{ book.id }}</p>
            {% endif %}
        </fig>

        {% if book.title is not empty %}
            <h4 class="bookbook.title"><a href="{{ path('see_one', {'bookId': book.id}) }}">{{ book.title }}</a></h4>
        {% else %}
            <p>Ingen book.title tillagd för book med id {{ book.id }}</p>
        {% endif %}
        
        {% if book.isbn is not empty %}
            <p class="book.isbn">{{ book.isbn }}</p>
        {% else %}
            <p>Ingen book.isbn tillagd för book med id {{ book.id }}</p>
        {% endif %}
        
        {% if book.author is not empty %}
            <p class="book.author">{{ book.author }}</p>
        {% else %}
            <p>Ingen book.author tillagd för book med id {{ book.id }}</p>
        {% endif %}
    </div>
    {% endfor %}   
</main>
{% endblock %}