{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<main class="library">
    <h2>Updatera info för en book med id: {{ id }}.</h2> 
    <form class="book" method="post" action="{{ path('change_the_book') }}">
   
        <input type="number" name="id" style="display: none;" value="{{ id }}">

        <label for="title">Books title:</label>
        <input type="text" name="title" value="{{ title }}">
        
        <label for="isbn">Books ISBN:</label>
        <input type="text" name="isbn" value="{{ isbn }}">
        
        <label for="author">Books forfattare:</label>
        <input type="text" name="author" value="{{ author }}">
        
        <label for="cover">Bild på book:</label>
        <input type="url" name="cover" value="{{ cover }}">

        <input type="submit" name="do_it" value="updatera boken">
    </form>
</main>
{% endblock %}